.add-place__container {
  padding: 0 1.5rem;
  margin-top: 3rem;
}

.add-place__header {
  background-image: url('../../assets/add-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding: 1.6rem 0.4rem;
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-action {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 24px;
}

.steps__btn {
  margin-right: 1rem;
}

/* ================= override on style antd STEPS */
#add-place .ant-steps-horizontal {
  display: flex;
}

#add-place .ant-steps-item-tail {
  display: none;
}

/* ================= override on style antd SELECT */

#add-place .ant-select {
  width: 100%;
  outline: 0;
}

#add-place .ant-select-selection {
  border: 0;
  outline: 0;

  border-bottom: 1px solid gray;
  background-color: inherit;
  height: 5rem;
}

#add-place .ant-select-arrow {
  font-size: 2rem;
}

/* ================= override on style antd Radio */

#add-place .ant-radio-group {
  display: flex;
  flex-direction: column;
}

#add-place .ant-radio-button-wrapper {
  margin-bottom: 1.5rem;
}
