.list{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.list_item{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: 3%;

}

.list_item_img{
  width: 100%;
  height: 10rem;
  padding: 1%;
}
 
.element_text{
color: rgb(48, 46, 46);
font-family: "Raleway", sans-serif;
font-size: 1.85rem;
font-weight: 650;
padding: 1%;
text-align: start;
}