/* ================================= */
/* Basic style */
/* ================================= */

.steps {
  margin-top: 4rem;
  padding: 3rem 0;
}

.steps-content {
  min-height: 40rem;
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  padding: 1.6rem 0.4rem;
}

.steps .title {
  text-align: start;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.img__box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.img__box--img {
  width: 90%;
}

.steps .input {
  display: block;
  width: 90%;
  font-family: inherit;
  font-weight: 600;
  font-size: 2rem;
  border: 0;
  outline: none;
  background-color: inherit;
  padding: 0.8rem 0.2rem;
  margin: 0 auto 3rem auto;
  cursor: text;
  border-bottom: 0.1rem solid #4fb0ae;
}

.input:focus {
  border-bottom: 0;
}

.input::placeholder {
  color: #4fb0aeb7;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.website__title,
.country__title,
.city__title {
  margin-bottom: 9rem;
}

/* ================================= */
/* Type COMPONENT */
/* ================================= */

.type__title {
  margin-bottom: 7rem;
}


/* ================================= */
/* BUTTON STYLE */
/* ================================= */
.steps .steps-action .steps__btn {
  width: 30%;
}

.steps .steps-action .steps__btn--left {
  position: relative;
  right: 1.5rem;
}

.steps .steps-action  .steps__btn--right {
  position: relative;
  left: 1.5rem;
}
